.sidebar {
	position: fixed;
}

@media(max-width:768px) {
	.sidebar {
		display: none;
	}
}

.continue-reading: {
	margin-top: 50px;
}

.sticky-footer {
	margin-top: 75px;
}

.post-wrapper {
	min-height: 100%;
}