/***** Shared Styles *****/

.content-wrapper {
	margin-top: 200px;
}

.bombastic {
	z-index: 2;
	background: linear-gradient(#754090, #662089);
	background: -moz-linear-gradient(#754090, #662089);
	background: -webkit-linear-gradient(#754090, #662089);
	background: -o-linear-gradient(#754090, #662089);
	margin-top: 50px;
	position: fixed;
	width: 100%;
}

.bombastic-content {
	margin: 20px;
	text-align: center;
	color: white;
}

.bombastic-content > h1 {
	font-size: 500%;
	font-weight: 200;
	margin: 0;
	padding: 0;
}

.bombastic-content > p {
	font-size: 150%;
}

footer {
	margin: 40px 0;
	width: 100%;
	text-align: center;
}