{% include head.html %}
<div class="post">
	{{ content }}
</div>
<div class="go-back">
	<a href="/index.html"><span class="fa fa-fw fa-chevron-left"></span> Go Back</a>
</div>
<div class="sticky-footer">
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% include foot.html %}